{
  "folder": "manifests",
  "file_name": "99_master_kernel_arg.yaml",
  "content": "ewogICJhcGlWZXJzaW9uIjogIm1hY2hpbmVjb25maWd1cmF0aW9uLm9wZW5zaGlmdC5pby92MSIsCiAgImtpbmQiOiAiTWFjaGluZUNvbmZpZyIsCiAgIm1ldGFkYXRhIjogewogICAgImxhYmVscyI6IHsKICAgICAgIm1hY2hpbmVjb25maWd1cmF0aW9uLm9wZW5zaGlmdC5pby9yb2xlIjogIm1hc3RlciIKICAgIH0sCiAgICAibmFtZSI6ICI5OS1vcGVuc2hpZnQtbWFjaGluZWNvbmZpZy1tYXN0ZXIta2FyZ3MiCiAgfSwKICAic3BlYyI6IHsKICAgICJrZXJuZWxBcmd1bWVudHMiOiBbCiAgICAgICJjb25zb2xlPXR0eTAgY29uc29sZT10dHlTMCwxMTUyMDAgY29uc29sZT10dHlBTUExIGNvbnNvbGU9aHZjMCBjb25zb2xlPXR0eUFNQTAgZWFybHljb249cGwwMTEsMHgwMTAwMDAwMCIKICAgIF0KICB9Cn0K"
}
